extends layout

block content
  h1= title
  if good
    p Welcome to your secret page!
  p You are logged in as #{userName}.
  if good
    p Nobody else can view this page.
  else
    p Stay where you are. Very friendly people will be there shortly.

